/* ===== 載入 CSS Reset 與字體 ===== */
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');

/* ===== 通用設定 ===== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;
}

h2 {
    font-size: 64px;
    line-height: 84px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    line-height: 42px;
}

p{
    font-size: 20px;
    line-height: 30px;
}

/* 顏色 */
.text-light {
    color: #fff;
}

.bg-dark {
    background-color: #000;
}

/* 間距 */
.mb-16 {
    margin-bottom: 16px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-56 {
    margin-bottom: 56px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* ===== 個別區塊設定 ===== */
/* Banner */
.banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/banner.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    padding: 308px 0;
}

.banner-content span {
    font-size: 24px;
    line-height: 42px;
}

.banner-content h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}

.banner-content .icons {
    display: flex;
    justify-content: space-between;
}

.banner-content .icons a:hover {
    opacity: 0.8;
}

/* About */
.about {
    font-weight: 700;
}

.about img{
    margin-bottom: 20px;
}

.about .basic-info li:nth-child(3) {
    padding-bottom: 24px;
}

.about .work-experience {
    padding-top: 28px;
    width: 384px;
    border-top: 1px solid #000;
    margin: 0 auto;
}

.about .work-experience li::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #891818;
    margin-right: 16px;
}

/* Brand */
.brand {
    padding: 56px 0 160px 0;
}

.brand h2{
    margin-bottom: 12px;
}

.brand p {
    margin-bottom: 68px;
}

.brand .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brand .images img:nth-child(2) {
    margin-right: 24px;
}

/* Other Works */
.other-works .works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}

.other-works .works-list li {
    /* gap 已經承擔 24px  */
    margin-bottom: 24px;
}

/* Contact */
.footer {
    padding: 64px 0;
}

/* 以下參考：https://ithelp.ithome.com.tw/articles/10279532?sc=iThelpR */
.footer .contact-list a {
    position: relative;
}

.footer .contact-list a::after {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -3px;
    border-bottom: 4px solid #891818;
    transition: .3s;
}

.footer .contact-list a:hover::after {
    right: 0%;
    left: 0%;
}